@model categoryPackageInfo

<div class="container mt-5">
    <div class="text-center font-weight-light">
        <h4 class="d-inline-block"><a href="productDashboard" class="mr-5 btn btn-primary text-light">Products</a></h4>
        <h4 class="d-inline-block"><a href="categoryDashboard" class="btn btn-success text-light">Categories</a></h4>
    </div>

    <div class="mt-5">
        <div class="row">
            <div class="col-7">
                <h5 class="text-center">New Category</h5>
                <hr>
                <form action="createCategory" method="post">
                    <div class="form-group">
                        <label asp-for="category.name"></label>
                        <input asp-for="category.name" class="form-control">
                        <small><span asp-validation-for="category.name" class="text-danger font-weight-bold"></span></small>
                    </div>
                    <button type="submit" class="btn btn-primary shadow">Create Category</button>
                </form>
            </div>

            <div class="col-4">
                <h5 class="text-center">Existing Categories</h5>
                <hr>
                <ul class="list-inline text-center">
                    @foreach(var category in Model.allCategory)
                    {
                        <li><a href="category/@category.category_id">@category.name</a></li>
                    }
                    
                </ul>
            </div>
        </div>
    </div>
</div>